@media (min-width: 320px){
    .squareEasySelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;


    }

    .squareEasyUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;

    }

    .squareMediumSelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 6%;

    }

    .squareMediumUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 6%;

    }

}

@media (min-width: 600px){
    .squareEasySelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;


    }

    .squareEasyUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;

    }

    .squareMediumSelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 22px;

    }

    .squareMediumUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 22px;

    }   
}

@media (min-width: 1026px) {
    .squareEasySelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;


    }

    .squareEasyUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 25px;
        width: 25px;

    }

    .squareMediumSelected {
        display: inline-block;
        border: 1px solid black;
        background-color:yellowgreen;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 22px;

    }

    .squareMediumUnselected {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        touch-action: none;
        height: 22px;
        width: 22px;

    }
        
    
}